* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    position: relative;
    scroll-behavior: smooth;
}

.body {
    background-color: #e4e4e4;
    min-height: 100vh;
    position: relative;
    perspective: 800px;
}

.navigation {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

.darkmode {
    margin-right: 400px;
    cursor: pointer;
}

.menu {
    margin-right: 200px;
}

.studionamma,
.darkmode,
.menu,
.letstalk,
.bottomtext,
.location,
.time,
.scroll,
.service-small-text,
.see-all p {
    color: #2b2b2b;
    margin-left: 20px;
    font-family: "GT Pressura Mono", monospace, sans-serif;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 3px;
    transform: scaleX(0.8);
    transform-origin: left center;
    z-index: 2000;
}

.letstalk {
    letter-spacing: 2px;
}

.text,
.bigplayground {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: "Mixtape Extra Condensed", sans-serif;
    font-size: 200px;
    font-weight: 1000;
    line-height: 160px;
    letter-spacing: -10px;
    transform: scaleX(0.6);
    color: rgb(17, 17, 17);
}

.text .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(60px);
    animation: popUp 0.5s forwards;
}

@keyframes popUp {
    from {
        opacity: 0;
        color: #e4e4e4;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.video {
    position: absolute;
    z-index: 1000;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    pointer-events: none;
    transition: transform 0.15s ease;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body.light .body {
    background-color: #e4e4e4;
}

body.light .text {
    color: rgb(17, 17, 17);
}

body.light .studionamma,
body.light .darkmode,
body.light .menu,
body.light .letstalk,
body.light .bottomtext,
body.light .location,
body.light .time,
body.light .scroll,
body.light .small-text,
body.light .bigplayground,
body.light .see-all p {
    color: #2b2b2b;
}

body.light .semi-large-text,
body.light .bigplayground {
    color: rgb(17, 17, 17);
}

body.light .section-3,
body.light .section-5,
body.light .section-6 {
    background-color: #e4e4e4;
}

/* Dark Mode Styles */
body.dark .body,
body.dark .section-3,
body.dark .section-5,
body.dark .section-6 {
    background-color: rgb(17, 17, 17);
}

body.dark .semi-large-text,
body.dark .bigplayground,
body.dark .text,
body.dark .studionamma,
body.dark .darkmode,
body.dark .menu,
body.dark .letstalk,
body.dark .bottomtext,
body.dark .location,
body.dark .time,
body.dark .scroll,
body.dark .small-text,
body.dark.see-all p {
    color: #e4e4e4;
}

.scroll {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left:100px;
}
body.light .service-text,
body.light .service-small-text,
body.light .see-all,
body.light .footer_logo_stretch {
    color: rgb(17, 17, 17);
}

body.light .section-7 {
    background-color: #e4e4e4;
}

body.dark .service-text,
body.dark .service-small-text,
body.dark .see-all,
body.dark .footer_logo_stretch {
    color: #e4e4e4;
}

body.dark .section-7 {
    background-color: rgb(17, 17, 17);
}

.footer {
    margin-top: 20px;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    padding: 0 20px;
    box-sizing: border-box;
}

.introvideo {
    display: flex;
    justify-content: center;
}

.introvideo video {
    height: 100%;
    width: 98%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 40px;
}

.small-text {
    margin-top: 200px;
    margin-bottom: 40px;
    color: #2b2b2b;
    font-family: "GT Pressura Mono", monospace, sans-serif;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 3px;
    transform: scaleX(0.8);
    transform-origin: center center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.website {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-family: "Mixtape Extra Condensed", sans-serif;
    font-size: 80px;
    font-weight: 1000;
    line-height: 90px;
    letter-spacing: -5px;
    transform: scaleX(0.6);
    transform-origin: center center;
    color: rgb(17, 17, 17);
}

.section-3 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-bottom: 100px;
}

.semi-large-text {
    font-size: 5rem;
    font-weight: lighter;
    line-height: 6rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.underline {
    text-decoration: underline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.underline img {
    max-height: 120px;
    max-width: 150px;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
    visibility: hidden;
    pointer-events: none;
}

.bigplayground {
    margin-top: 250px;
}

.section-5 {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
    z-index: 3;
}

.section-5-div {
    width: 100%;
    position: relative;
}

.section-5-div img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.section-5-div video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    border-radius: 7px;
    opacity: 0;
    transition: linear 0.3s;
}

.section-5-div:hover img {
    filter: blur(1.5px);
    transform: scale(0.98);
}

.section-5-div:hover video {
    opacity: 1;
}

.section-6 {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.services {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
}

.service-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.service-video-div {
    height: 262.5px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -30%);
    z-index: 10;
    border-radius: 5px;
    pointer-events: none;
}

.service-video-div video {
    height: 0;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0;
}

.service-text {
    font-size: 6rem;
    font-weight: 500;
    line-height: 6.5rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.3s ease;
}

.service-small-text {
    transform: translate(50px, 0);
    opacity: 0;
    transition: all 0.3s ease;
}

.see-all {
    width: 100%;
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
}

.see-all i {
    transition: all 0.3s ease;
}

.see-all:hover i {
    transform: translateX(5px);
}
.section-7{
    height: 50vh;
    width: 100%;
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
    z-index: 3;
    gap: 4%;
    padding: 20px 0;
}
.section-7 img{
    max-width: 16%;
    object-fit: cover;
    border-radius: 7px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.bigplayground{
    margin-bottom: 200px;
}